<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
        $('#apartments').DataTable();
    } );
    </script>
</head>
<body>
    <table id="apartments">
        <thead>
            <tr>
                <th>Title</th>
                <th>District</th>
                <th>Rent</th>
                <th>Extra</th>
                <th>Space</th>
                <th>PPM²</th>
                <th>Address</th>
                <th>Rooms</th>
                <th>Balcony</th>
                <th>Garden</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in items %}
        <tr>
            <td><a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a></td>
            <td>{{ entry.district }}</td>
            <td>{{ entry.rent }}€</td>
            <td>{{ entry.extra_cost }}€</td>
            <td>{{ entry.sqm }}m²</td>
            <td>{{ entry.ppm |round(1, 'floor') }}€/m²</td>
            <td>{{ entry.address }}</td>
            <td>{{ entry.rooms }}</td>
            <td bgcolor="{% if entry.balcony %}green{% else %}red{% endif %}">{{ entry.balcony }}</td>
            <td bgcolor="{% if entry.garden %}green{% else %}red{% endif %}">{{ entry.garden }}</td>
            <td>{{ entry.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
